::-webkit-scrollbar {
  width: 0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

i {
  float: left;
  color: whitesmoke;
}

body {
  width: 100vw;
  height: 100vh;
  display: grid;
  justify-content: center;
  /*overflow: hidden;*/
}

#main {
  width: 100vw;
  max-width: 600px;
  height: 100vh;
  box-shadow: inset 0 0 10px 4px #1116;
  background: rgb(12, 12, 12);
}

h2 {
  text-align: center;
  font-family: sans-serif;
  background: rgb(5, 5, 5);
  color: rgb(228, 227, 227);
  padding: 4px;
  text-shadow: 1px 1px 4px #111;
  margin-bottom: 8px;
  font-size: 25px;
}

#msg_area {
  height: 82%;
  padding: 0 12px;
  overflow-y: scroll;
  scroll-behavior: smooth;
  background-image: url('light-mode.png'); /* Default light mode background image */
  background-position: center;
  background-size: cover;
}

/* Add styles for dark mode */
.dark-mode #msg_area {
  background-image: url('dark-mode.png'); /* Dark mode background image */
}

#bot {
  width: 40px;
  height: 40px;
  background: url('background.jpg'); /* Bot icon background image */
  background-size: 100%;
  border-radius: 50%;
  margin: 10px;
  position: fixed;
  margin-top: 80px;
}

#robot {
  display: flex;
  align-items: center;
}

h3 {
  font-family: monospace;
  font-size: 20px;
}

#input {
  height: 7px;
  min-height: 42px;
  display: grid;
  grid-template-columns: 70% 30%;
  margin: 8px 16px;
  border-radius: 32px;
  background: rgb(0, 0, 0);
  box-shadow: inset 0 1px 0 #777;
  border: none;
}

.left {
  color: rgb(228, 227, 227);
  background: rgb(194, 56, 14);
  border-radius: 0 16px 16px 16px;
  transition: 1s all;
}

.right {
  color: rgb(24, 23, 23);
  background: rgb(228, 227, 227);
  border-radius: 0px 16px 0 16px;
  float: right;
}

#text {
  outline: none;
  font-size: 20px;
  background: rgb(228, 227, 227);
  color: #333;
  border-radius: 32px;
  padding: 0 16px;
  border: solid 1px #777;
  border-right: none;
}

.left,
.right {
  font-size: 18px;
  font-family: monospace;
  display: inline-block;
  width: auto;
  max-width: 60%;
  padding: 14px;
  word-wrap: break-word;
  margin: 8px 14px;
  text-shadow: 1px 1px 4px #111;
}

.msgCon1,
.msgCon2 {
  width: 100%;
  display: inline-block;
}

#send {
  border-radius: 32px;
  cursor: pointer;
  border: none;
  font-size: 18px;
  background: rgb(194, 56, 14);
  color: white;
  font-family: monospace;
  outline: none;
}

#send:active {
  font-size: 20px;
}
button{
  outline: none;
}
.head{
  padding: 10px;
}

#myModal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  /*overflow: hidden;*/
  transition: opacity 3s ease-in-out; 
}

#modalContent {
  position: fixed;
  top: 0;
  left: -100%; 
  width: 100%;
  height: 100%;
  background-color: white;
  box-sizing: border-box;
  transition: left 3s ease-in-out; 
}

#myModal.show {
  display: block;
  overflow: auto;
  height: 100vh;
}

#myModal.show #modalContent {
  left: 0; 
}

#closeModal {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}


#myGuide {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

#guideContent {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  border-radius: 10px;
}

#closeGuide {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

.list{
  background-color: #111;
 padding: 10px;
}
.list h1{
  color: whitesmoke;
}

.list input{
  width: 50%;
  height: 40px;
  border-radius: 5px;
  border: none;
  outline: none;
  background-color: #777;
  color: whitesmoke;
  padding: 15px;
  font-weight: 900;
}

.list button{
  padding: 2px;
  margin: 2px;
  background-color: #777;
  border-radius: 5px;
  border: none;
  outline: none;
  color: whitesmoke;
  font-weight: 900;
}
.dark:hover::after{
  content: hello;
}